body{
    margin: 0;
    padding: 0;
}

#cadastro{
    background-image: url(https://image.winudf.com/v2/image1/Y29tLlNwYWNlTGl2ZVdhbGxwYXBlckhEX3NjcmVlbl82XzE1NjY5OTU4NjRfMDc3/screen-6.webp?fakeurl=1&type=.webp);
    background-size: 100%;
}

form{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 400px;
    align-items: center;
    position: relative;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 510px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    background-color: black;
    color: white;
    line-height: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    padding: 5px;
}

#button{
    margin-top: 15px;
}

#h1form{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: white;
}

#formularios{
    background-image: url(https://i.ytimg.com/vi/eTD0WWFIDAg/maxresdefault.jpg);
    background-size: 100%;
}

#h1cad{
    display: block;
    color: white;
    width: 280px;
    margin-left: 470px;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#listaform li {
    list-style: none;
    font-size: 50px;
    display: block;
    margin-bottom: 59px;
    text-align: center;
    margin-right: 40px;
}

a{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 5px;
}

#linkcad{
    font-size: 50px;
    margin-top: 10px;
    margin-left: 540px;
    padding: 5px;
    border-radius: 25px;
    background-color: black;
}

#divsearch{
    margin-left: 50px;
    margin-top: 250px;
    display: inline-block;
    width: auto;
    padding-right: 40px;
}

#search{
    height: 80px;
    border-radius: 16px;
    padding: 12px;
    font-size: 36px;
    line-height: 1.5;
    color: gray;
    border: 1px solid gray;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
}

#busca{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5fe4caeadae61a2f19719512/1609953743894-8HS91P0Q9F0E5A76K5PM/23.jpg);
    background-size: 100%;
}

#login{
    background-image: url(https://wallpapers.com/images/hd/solar-system-outer-space-3pae4flbryaputyl.jpg);
    background-size: 100%;
}

#divlogin{
    margin-left: 425px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    width: 100px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-top: 0px;
    padding-left: 70px;
    background-color: black;
    border-radius: 25px;
}

#email{
    height: 20px;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 50px;
}

#password{
    height: 20px;
    padding: 12px;
    font-size: 16px;
}

.labellogin{
    color: white;
    font-size: 20px;
}

#h1login{
    display: block;
    color: white;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 50px;
}

#buttonlogin{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    margin-left: 10px;
    border-radius: 10px;
    border: 3px solid gray;
}